apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
  namespace: default
type: Opaque
stringData:
  mysql-root-password: "changeme"
  mysql-user: "wpuser"
  mysql-password: "wppassword"
  mysql-database: "wordpress"
